.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
   color: #3c009d;
   font-size: 49px;
   font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 55px;
}

.input{
    display: flex;
    align-items: center;
    margin:auto;
    width: 450px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    color: #797979;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-right: 60px;
    width: 450px;
    height: 70px;
    background: #3c009d;
    border-radius: 30px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
.new-account{
    display:inline;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 180px;
    font-size: 16px;
    color: #797979;
}